name: coder_ecommerce
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.6.0
  flutter_easyloading: ^3.0.5
  flutter_secure_storage: ^10.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: "^0.14.4"

flutter_launcher_icons:
  android: "ic_launcher"
  ios: true
  image_path: "asset/images/logo.jpg"
  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true

  assets:
    - asset/images/
    - asset/icons/
